nav ul {
  background-color: darkmagenta; }
  nav ul li {
    display: inline-block; }
  nav ul a {
    text-decoration: none;
    color: red;
    padding: 20px; }

button {
  background-color: yellow; }

h1 {
  color: yellow; }
