progress {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 3px;
}
progress::-webkit-progress-value {
    background-color: rgb(184, 22, 22);
    border-radius: 3px;
    
}
