body {
    background-color: tan;
    box-sizing: border-box;
}
#p1 {
    font-weight: bold;
    font-family: 'Calistoga';
    font-size: 1.2em;
    text-align: right;
    border: 3px dashed teal;
    /* border-style: solid;
    border-width: 3px 5px;
    border-color: teal; */
    border-radius: 0.5em;
    padding: 5px 10px 20px;
    margin: auto;
    background-color: pink;
    background-image: url(background.gif);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    width: 70%;
    height: 250px;
    box-sizing: border-box;
}
p {
    font-family: 'Lato';
    font-weight: normal;
    text-decoration: blink;
    line-height: 1.2em;
}
#p1 span {
    color: tomato;
}
div {
    background-color: yellowgreen;
    border: 2px solid red;
}
div div {
    background-color: darkturquoise;
    border: 2px solid blue;
    width: 75%;
}