<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="transitions.js"></script>
    <link rel="stylesheet" href="transitions.css">
</head>
<body>
    <div id="app">
        <transitions name="fade" appear>
            <div v-if="show">Now You see me</div>
        </transitions>
               
        <transitions name="bounce" appear>
            <div v-if="show">Now You see me</div>
        </transitions>
        <input type="button" value="Press me" @click="show = !show">
    </div>
</body>
</html>